.s-hero {
  
}

.s-hero__bg {
  height: 152px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 102px;
    background-image: linear-gradient(to bottom, #002858 0%, rgba(0, 40, 87, 0.85) 39%, rgba(0, 40, 86, 0.65) 63%, rgba(0, 40, 85, 0.05) 95%, rgba(0, 40, 85, 0));
  
    @include mq($md) {
      height: 220px;
    }
  }

  @include mq(425) {
    height: 225px;
  }

  @include mq(550) {
    height: 325px;
  }

  @include mq($md) {
    height: 465px;
  }
}

.s-hero__label__wrap {
  margin-top: -28px;

  @include mq($md) {
    margin-top: -57px;
  }

  @include mq($xl) {
    margin-top: -88px;
  }
}

.s-hero__label {
  display: inline-block;
  padding: 11px 0;
  max-width: 265px;
  position: relative;

  @include mq($md) {
    max-width: calc(100% - 157px);
    padding: 35px 0;
  }

  @include mq($xl) {
    max-width: calc(100% - 197px);
    padding: 56px 0;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 200vw;
    height: 100%;
    background-color: palette(secondary, 400);
    transform: skewX(-30deg) translateX(18px);
    transition: all 1s linear;

    @include mq($md) {
      transform: skewX(-30deg) translateX(32px);
    }

    @include mq($md) {
      transform: skewX(-30deg) translateX(50px);
    }

    @include mq($xl) {
      transform: skewX(-30deg) translateX(89px);
    }
  }
}

.for-anim {
  &:before {
    transform: skewX(-30deg) translateX(-1000px);
  }

  .s-hero__title {
    opacity: 0;
  }
}

.s-hero__title {
  position: relative;
  z-index: 1;
  color: palette(primary);
  @include font(mid-lg, 34, 500);
  transition: opacity 0.2s ease-in 1.1s;

  @include mq($md) {
    @include font(xl-sm, 44, 500);
  }

  @include mq($lg) {
    @include font(xl-lg, 61, 500);
  }
}
