.s-our-approach {}

.s-our-approach__wrap {
  padding: 30px 0;
  margin: 0 -15px;
  @include mq($sm) {
    padding: 65px 0;
    margin: 0;
  }
}

.s-our-approach__content {
  width: 100%;
  padding: 20px 15px;
  background-color: palette(secondary, 200);
  @include mq($lg) {
    min-height: 400px;
    padding: 60px 72px 30px;
    width: 53%;
  }
}

.s-our-approach__img-wrap {
  position: relative;
  width: 100%;
  @include mq($lg) {
    width: 47%;
  }
}

.s-our-approach__img {
  min-height: 250px;
  //@extend .u-angle-right;

  .flex-lg-row-reverse & {
    //@extend .u-angle-left;
  }
  @include mq($sm) {
    min-height: 400px;
    margin: 0;
    height: 100%;
  }
}
