.s-about {
  padding: 60px 0 30px;
  background: linear-gradient(27deg,#f6fbfe 0,#f6fbfe 58.9%,#fff 0%);
  @include mq($md) {
    padding: 100px 0;
  }

  @include mq($xl) {
    padding: 150px 0 140px;
  }

  .left-column{
    .c-wysiwyg{
      @include mq($md){
        padding-right: 10px;
      }
      @include mq($lg){
        padding-right: 20px;
      }
    }
  }

  .right-column{
    .c-image-text-box{
      @include mq($md){
        padding-left: 10px;
      }
      @include mq($lg){
        padding-left: 20px;
      }
    }
  }
}

.s-about .c-intro {
  padding-bottom: 8px;
  @include mq($md) {
    padding-bottom: 45px;
  }
}

.s-about .c-intro__title {
  max-width: 546px;
}

.s-about .c-wysiwyg {
  @include mq($md) {
    p {
      @include font(small-xl, 26, 300);
    }
  }
}

.s-about blockquote {
  margin: 0;
  padding: 15px 0;
  letter-spacing: 0.19px;
  @include font(small-md, 22, 700);
  @include mq($md) {
    letter-spacing: 0.23px;
    padding: 10px 0;
    @include font-family(secondary);
    @include font(mid-lg, 36, 700);
  }
}
