.s-list {
    padding: 30px 0 16px;
    @include mq($md) {
        padding: 40px 0 56px;
    }
    @include mq($lg) {
        padding: 117px 0 106px;
    }
}

.s-list__icon {
    width: 45px;
    margin: 0 0 15px 38px;

    @include mq($md) {
        width: 105px;
        margin: 0 0 0 6px;
    }
}

.s-list__title {
    @include font(mid-lg, 24, 700);
    letter-spacing: 0.25px;

    max-width: 419px;
    @include mq($md) {
        @include font(large-lg, 34, 700);
        letter-spacing: 0.38px;
    }
}

.s-list__list {
    padding: 5px 0;

    
}

.s-list__list .c-list__item {
}

.s-list--two-columns .c-list {
    @include mq($md) {
        display: flex;
        flex-wrap: wrap;
    }
}

.s-list--two-columns .c-list .c-list__item {
    @include mq($md) {
        width: 412px;
    }
}

.s-list--two-columns .s-list__title {
    max-width: 272px;
}
