.s-home-hero {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 102px;
    background-image: linear-gradient(to bottom, #002858 0%, rgba(0, 40, 87, 0.85) 39%, rgba(0, 40, 86, 0.65) 63%, rgba(0, 40, 85, 0.05) 95%, rgba(0, 40, 85, 0));
    z-index: 2;

    @include mq($md) {
      height: 220px;
    }
  }
}

.s-home-hero__pagination {
  position: absolute;
  bottom: 93px !important;
  left: 15px !important;
  display: flex;
  flex-direction: column;
  width: 15px !important;
  z-index: 3;
  transition: all 0.3s linear 1s;

  &.for-anim {
    opacity: 0;
  }

  @include mq($md) {
    bottom: 250px!important;
    left: 12px!important;
  }

  @include mq(1350) {
    left: calc(50% - 660px)!important;
  } 

  .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    border: 1px solid palette(orange-color);
    border-radius: 100%;
    background-color: transparent;
    opacity: 1;
    margin: 5px !important;

    @include mq($md) {
      width: 10px;
      height: 10px;
      margin: 10px 5px !important;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: rgba(palette(orange-color), 0.5);
  }
}