.s-contact {
  padding: 50px 13px 36px;
  @include mq($md) {
    padding: 133px 0 120px;
  }
}

.s-contact .c-wysiwyg {
  max-width: 888px;
  p {
    letter-spacing: 0;
    @include font(small-lg, 22, 500);
    @include font-family(secondary);
    @include mq($md) {
      @include font(mid-lg, 32, 700);
    }
  }
}
