.s-our-teams {
  padding-top: 150px;
}

.s-our-teams .container {
  @include mq($xl) {
    max-width: calc(1190px + 34px);
  }
}

.s-our-teams .c-intro {

  @include mq($sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.s-our-teams .c-intro__text {
  margin-top: 18px;
  max-width: 95%;
  @include mq($sm) {
    max-width: 70%;
  }
  @include mq($md) {
    margin-top: 30px;
    max-width: 62%;
  }
  @include mq($lg) {
    max-width: 52%;
  }
  @include mq($xl) {
    max-width: 42%;
  }
}

.s-our-teams__wrap {
  padding: 25px 0;
  background: linear-gradient(27deg,#f6fbfe 0,#f6fbfe 58.9%,#fff 0%);
  @include mq($sm) {
    padding: 97px 0 35px;
  }
}
