.s-partners {}

.s-partners .c-intro {
  padding: 40px 0 15px;
  max-width: 844px;
  @include mq($md) {
    text-align: center;
    padding: 90px 0 95px;
  }
}

.s-partners .c-intro__text {}

.s-partners__wrap {
  position: relative;
  padding: 45px 0;
  background-color: palette(secondary, 200);
  @include mq($md) {
    padding: 150px 0 160px;
  }
}
