.s-solutions {
    position: relative;
    padding: 42px 0 29px;

    @include mq($md) {
        padding: 120px 0 100px;

        .c-wysiwyg {
            max-width: 545px;
            p {
               font-weight: 300;
               font-size: inherit;
               line-height: inherit;
               letter-spacing: 0;
            }
        }
    }

    @include mq($lg) {
        padding: 170px 0 150px;
    }

    @include mq($xl) {
        padding: 210px 0 200px;
    }
}

.s-solutions .c-quote {
    color: palette(primary, base);
    padding-bottom: 0;
    @include mq($md) {
        color: palette(primary, 300);
        letter-spacing: 1px;
    }
}
