.s-text-block {
    padding: 52px 54px 53px;
}

.s-text-block__text {
    @include font(small-xl, 30);
    letter-spacing: 0.5px;
    @include font-family(secondary);
    font-style: italic;
    text-align: center;
    max-width: 100%;
    p {
        font-family: inherit;
        line-height: inherit;
        margin-bottom: 0;
    }
    @include mq($md) {
        @include font(large-sm, 40);
        letter-spacing: 1px;
    }
    @include mq($lg) {
        @include font(large-xl, 60);
        letter-spacing: 1px;
    }
}

.home .s-text-block__text {
    @include font(small-xl, 30, 700);
}
