.s-posts {
  padding: 50px 0 80px 0;
  position: relative;

  @include mq($lg) {
    padding: 150px 0;
  }

  .c-bg-logo {
    top: 110px;
    width: 94px;

    @include mq($md) {
      width: 240px;
    }

    @include mq($lg) {
      width: 506px;
      height: 775px;
      top: 740px;
    }
  }
}

