.s-contact-us {
  padding: 60px 0 55px;
  background-color: rgba(166, 159, 136, 0.15);
  position: relative;
  text-align: center;

  @include mq($lg) {
    padding: 100px 0 94px;
  }

  .c-intro__title {
    margin-bottom: 20px;

    @include mq($lg) {
      margin-bottom: 33px;
    }
  }

  .c-intro__text {
    margin-bottom: 36px;
  }
}

.s-contact-us__links {
  text-align: center;
}

.s-contact-us__link {
  display: inline-block;
  margin-bottom: 4px;
  color: palette(primary, 300);
  @include font(small-xl, 26, 400);
  letter-spacing: 0.2px;  

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover {
    text-decoration: underline;
  }
}