.s-map {
  position: relative;
}

.s-map iframe {
  margin-bottom: -6px;
  max-height: 178px;
  @include mq($sm) {
    max-height: 258px;
  }
  @include mq($md) {
    max-height: 372px;
  }
  @include mq($lg) {
    max-height: 472px;
  }
}
