.s-advantages {
  position: relative;
  padding-bottom: 30px;

  @include mq($lg) {
    padding-top: 103px;
  }
}

.s-advantages__title {
  @include font(mid-lg, 27, 700);
  letter-spacing: 0.25px;
  color: palette(primary);

  @include mq($lg) {
    @include font(large-lg, 34, 700);
    letter-spacing: 0.38px;
  }
}

.s-advantages__intro {
  padding: 25px 0;

  @include mq($lg) {
    padding: 25px 0 74px;
  }
}

