.s-single-team {
  padding: 20px 0;
  background: linear-gradient(27deg,#f6fbfe 0,#f6fbfe 58.9%,#fff 0%);
}

.s-single-team__wrap {
  padding: 27px 0 32px;
  @include mq($md) {
    padding: 115px 0 150px;
  }
}

.s-single-team__return-btn .btn {
  text-transform: uppercase;
  color: palette(secondary, 400);
  @include font(xs, 32, 300);
  @include font-family(secondary);
  @include mq($md) {
    @include font(small, 32, 300);
  }
}

.s-single-team__arrow {
  margin-right: 2px;
}
