.o-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: rgba(0, 40, 88, 0);  
  transition: background-color 0.5s ease-in;
  z-index: 999;

  @include mq($xl) {
    height: 140px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background-position: top center;
    // background-image: linear-gradient(to bottom, rgba(0, 40, 88, 0.7) 27%, rgba(0, 40, 88, 0.623) 42%, rgba(0, 40, 85, 0.098) 83%, rgba(0, 40, 85, 0));
    transition: height 0.5s ease-in;

    @include mq($xl) {
      height: 220px;
    }
  }

  &.fixed {
    background-color: rgba(0, 40, 88, 1);
    

    &:after {
      height: 75px;

      @include mq($xl) {
        height: 140px;
      }
    }
  }

  .container {
    position: relative;
    z-index: 1;
  }
}

.o-header__wrap {
  padding: 20px 0;

  @include mq($xl) {
    padding: 23px 0;
  }

  &.open {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: palette(primary);
  }
}

.o-header__logo {
  width: 136px;

  @include mq($xl) {
    width: 196px;
  }
}