/**
 *  Global color variables.
 *	The underscore Never use them directly in the styles, only for functions and mixins.
 */

$_color-primary-500: #002855 !default;
$_color-primary-400: rgba(0,40,85,0.75) !default;
$_color-primary-300: #008ad8 !default;
$_color-primary-200: rgba(0,138,216,0.75) !default;
$_color-primary-100: #bfdcf3 !default;

$_color-secondary-200: #f6fbfe !default;
$_color-secondary-300: #f2f1ed !default;
$_color-secondary-400: #a69f88 !default;
$_color-secondary-500: #283746 !default;

$_color-text-500: #283746 !default;
$_color-text-400: #323746 !default;
$_color-text-100: #ffffff !default;


$_color-orange-500: #f37324 !default;

/**
 *  Organize color variables in a Sass Map.
 *  This way, the colors can be iterated, are more organized, and are more intuitive to reference.
 */
$palettes: (
        'primary': (
                100:  $_color-primary-100,
                200:  $_color-primary-200,
                300:  $_color-primary-300,
                400:  $_color-primary-400,
                base: $_color-primary-500,
        ),
        'secondary': (
                200: $_color-secondary-200,
                300: $_color-secondary-300,
                400: $_color-secondary-400,
                base: $_color-secondary-500,
        ),
        'text': (
                100: $_color-text-100,
                400: $_color-text-400,
                base: $_color-text-500,
        ),
        'orange-color': (
                base: $_color-orange-500,
        ),
);


