/** =====================================================================================
 *  Defines the typographic baseline.
 *  We define every size in pixels, the underlying system converts the
 *  respective units to the responsive REM value.
 ===================================================================================== */

/**
 * Our base font-size and line-height
 */
$base-font-size: 20 !default;
$base-line-height: 26 !default;
$line-height-ratio: $base-line-height/$base-font-size !default;

$font-sizes: (
        xss: 8,
        xs: 10,
        small-sm: 11,
        small: 12,
        small-md: 13,
        small-lg: 14,
        small-xlg: 15,
        small-xl: 16,
        mid: 18,
        mid-md: 19,
        mid-lg: 20,
        base: $base-font-size,
        mid-xl: 22,
        large-sm: 24,
        large: 28,
        large-lg: 30,
        large-xl: 32,
        xl-sm: 40,
        xl: 50,
        xl-lg: 60,
        xl-xl: 70,
        xxl: 120,

);

/**
 *	Here we assign short names for the font families
 */
$transat: 'TransatText', sans-serif;
$museo: 'museo', sans-serif;

$_font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-families: (
        base: $transat,
        secondary:$museo,
  // Fallback font
        system: $_font-system
);

