//@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,500,500i,600,600i,700,700i&display=swap');

//TransatText

@font-face {
  font-family: 'TransatText';
  src: url('../../fonts/transat/TransatTextStandard.eot');
  src: url('../../fonts/transat/TransatTextStandard.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/transat/TransatTextStandard.woff2') format('woff2'),
  url('../../fonts/transat/TransatTextStandard.woff') format('woff'),
  url('../../fonts/transat/TransatTextStandard.ttf') format('truetype'),
  url('../../fonts/transat/TransatTextStandard.svg#poppins_blackregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TransatText';
  src: url('../../fonts/transat/TransatTextMedium.eot');
  src: url('../../fonts/transat/TransatTextMedium.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/transat/TransatTextMedium.woff2') format('woff2'),
  url('../../fonts/transat/TransatTextMedium.woff') format('woff'),
  url('../../fonts/transat/TransatTextMedium.ttf') format('truetype'),
  url('../../fonts/transat/TransatTextMedium.svg#poppins_blackregular') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TransatText';
  src: url('../../fonts/transat/TransatTextBold.eot');
  src: url('../../fonts/transat/TransatTextBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/transat/TransatTextBold.woff2') format('woff2'),
  url('../../fonts/transat/TransatTextBold.woff') format('woff'),
  url('../../fonts/transat/TransatTextBold.ttf') format('truetype'),
  url('../../fonts/transat/TransatTextBold.svg#poppins_blackregular') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TransatText';
  src: url('../../fonts/transat/TransatTextBlack.eot');
  src: url('../../fonts/transat/TransatTextBlack.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/transat/TransatTextBlack.woff2') format('woff2'),
  url('../../fonts/transat/TransatTextBlack.woff') format('woff'),
  url('../../fonts/transat/TransatTextBlack.ttf') format('truetype'),
  url('../../fonts/transat/TransatTextBlack.svg#poppins_blackregular') format('svg');
  font-weight: 900;
  font-style: normal;
}


//museo

@font-face {
  font-family: 'museo';
  src: url('../../fonts/museo/Museo-300.eot');
  src: url('../../fonts/museo/Museo-300.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/museo/Museo-300.woff2') format('woff2'),
  url('../../fonts/museo/Museo-300.woff') format('woff'),
  url('../../fonts/museo/Museo-300.ttf') format('truetype'),
  url('../../fonts/museo/Museo-300.svg#poppins_blackregular') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'museo';
  src: url('../../fonts/museo/Museo-500.eot');
  src: url('../../fonts/museo/Museo-500.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/museo/Museo-500.woff2') format('woff2'),
  url('../../fonts/museo/Museo-500.woff') format('woff'),
  url('../../fonts/museo/Museo-500.ttf') format('truetype'),
  url('../../fonts/museo/Museo-500.svg#poppins_blackregular') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'museo';
  src: url('../../fonts/museo/Museo-700.eot');
  src: url('../../fonts/museo/Museo-700.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/museo/Museo-700.woff2') format('woff2'),
  url('../../fonts/museo/Museo-700.woff') format('woff'),
  url('../../fonts/museo/Museo-700.ttf') format('truetype'),
  url('../../fonts/museo/Museo-700.svg#poppins_blackregular') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'museo';
  src: url('../../fonts/museo/Museo-700Italic.eot');
  src: url('../../fonts/museo/Museo-700Italic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/museo/Museo-700Italic.woff2') format('woff2'),
  url('../../fonts/museo/Museo-700Italic.woff') format('woff'),
  url('../../fonts/museo/Museo-700Italic.ttf') format('truetype'),
  url('../../fonts/museo/Museo-700Italic.svg#poppins_blackregular') format('svg');
  font-weight: 700;
  font-style: italic;
}



