.u-white {
    color: #fff;
}

.u-primary {
    //color: palette(primary);
}

.u-navy {
  color: palette(primary, base);
}

.u-blue {
  color: palette(primary, 300);
}

.u-bg-light-blue {
  background: palette(secondary, 200);
}

.u-dark {
  color: palette(text, 400);
}
