.u-bg-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.u-underline {

}

.u-overflow {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.u-angle-right {
  clip-path: polygon(0 0,100% 0,100% calc(100% - 80px),calc(100% - 55px) 100%,0 100%);

  @include mq($md) {
    clip-path: polygon(0 0,100% 0,100% calc(100% - 125px),calc(100% - 75px) 100%,0 100%);
  }
}

.u-angle-left {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 55px 100%, 0 calc(100% - 80px));

  @include mq($md) {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 75px 100%, 0 calc(100% - 125px));
  }
}

.u-angle-right--banner {
  clip-path: polygon(0 0,100% 0,100% calc(100% - 90px),calc(100% - 50px) 100%,0 100%);
  @include mq($md) {
    clip-path: polygon(0 0,100% 0,100% calc(100% - 219px),calc(100% - 127px) 100%,0 100%);
  }
}

.u-angle-in {
  animation: .5s angle_in_hover forwards;
}

.u-angle-out {
  animation: .5s angle_out_hover forwards;
}

.u-opacity-in {
  animation: .5s opacity_in forwards;
}

.u-opacity-out {
  animation: .5s opacity_out forwards;
}

[data-aos="u-angle-in--right"] {
  &.aos-animate {
    animation: .5s angle_in_right forwards;
    animation-delay: 700ms;
  }
}

[data-aos="u-angle-in--left"] {
  &.aos-animate {
    animation: .5s angle_in_left forwards;
    animation-delay: 700ms;
  }
}

.u-angle-in--banner {
  animation: .7s angle_in_banner forwards;
}

@keyframes angle_in_hover {
  0% { clip-path: polygon(0 0,100% 0,100% 100%,100% 100%,0 100%); }
  100% { clip-path: polygon(0 0,100% 0,100% calc(100% - 90px),calc(100% - 55px) 100%,0 100%); }
}

@keyframes angle_out_hover {
  0% { clip-path: polygon(0 0,100% 0,100% calc(100% - 90px),calc(100% - 55px) 100%,0 100%); }
  100% { clip-path: polygon(0 0,100% 0,100% 100%,100% 100%,0 100%); }
}

@keyframes angle_in_banner {
  0% { clip-path: polygon(0 0,100% 0,100% 100%,100% 100%,0 100%); }
  100% { clip-path: polygon(0 0,100% 0,100% calc(100% - 80px),calc(100% - 50px) 100%,0 100%); }
}

@keyframes angle_in_left {
  0% { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 100%); }
  100% { clip-path: polygon(0 0, 100% 0, 100% 100%, 55px 100%, 0 calc(100% - 85px)) }
}

@keyframes angle_in_right {
  0% { clip-path: polygon(100% 0, 100% 100%, 100% 100%, 0 100%, 0 0); }
  100% {  clip-path: polygon(100% 0, 100% calc(100% - 85px), calc(100% - 55px) 100%, 0 100%, 0 0); }
}

@include mq($md) {
  @keyframes angle_in_left {
    0% { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 100%); }
    100% { clip-path: polygon(0 0, 100% 0, 100% 100%, 65px 100%, 0 calc(100% - 105px)) }
  }
  @keyframes angle_in_right {
    0% { clip-path: polygon(100% 0, 100% 100%, 100% 100%, 0 100%, 0 0); }
    100% { clip-path: polygon(100% 0, 100% calc(100% - 105px), calc(100% - 65px) 100%, 0 100%, 0 0); }
  }
  @keyframes angle_in_banner {
    0% { clip-path: polygon(0 0,100% 0,100% 100%,100% 100%,0 100%); }
    100% { clip-path: polygon(0 0,100% 0,100% calc(100% - 125px),calc(100% - 75px) 100%,0 100%); }
  }
}

@include mq($lg) {
  @keyframes angle_in_left {
    0% { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 100%); }
    100% { clip-path: polygon(0 0, 100% 0, 100% 100%, 75px 100%, 0 calc(100% - 125px)) }
  }
  @keyframes angle_in_right {
    0% { clip-path: polygon(100% 0, 100% 100%, 100% 100%, 0 100%, 0 0); }
    100% { clip-path: polygon(100% 0, 100% calc(100% - 125px), calc(100% - 75px) 100%, 0 100%, 0 0); }
  }
  @keyframes angle_in_banner {
    0% { clip-path: polygon(0 0,100% 0,100% 100%,100% 100%,0 100%); }
    100% { clip-path: polygon(0 0,100% 0,100% calc(100% - 219px),calc(100% - 127px) 100%,0 100%); }
  }
}



.u-bg-logo {
  & + section {
    position: relative;
    z-index: 1;
  }
}
  @keyframes opacity_in {
    0% {
      opacity: 1;
    }
    100% {
      opacity: .5;
    }
  }

  @keyframes opacity_out {
    0% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }

  }





