h1 {
	text-transform: uppercase;
	@include font(large-xl, 42, 600);

	@include mq($md) {
		@include font(xl-sm, 42, 600);
	}
	@include mq($lg) {
		@include font(xl, 42, 600);
	}
	@include mq($xl) {
		@include font(xl-lg, 42, 600);
	}
}

h2 {
	text-transform: uppercase;
	@include font(large-lg, 34, 600);
	@include mq($md) {
		@include font(large-xl, 34, 600);
	}
	@include mq($lg) {
		@include font(xl-sm, 34, 600);
	}
}

h3 {
	text-transform: uppercase;
	@include font(mid-lg, 34, 600);
}

h4 {
	@include font(base, 32, 700);
}

h5 {
	@include font(mid, 32, 500);
}

h6 {
	@include font(small-lg, 32, 300);
}

