.c-post {
  padding: 40px 0 60px 0;
  border-bottom: 1px solid palette(primary, 100);

  @include mq($lg) {
    &:last-child {
      border-bottom: none;
    }
  }

}

.c-post__title {
  margin-bottom: 10px;
  color: palette(primary, base);
  letter-spacing: 0.18px;
  text-transform: capitalize;
  @include font(small-lg, 22, 600);

  @include mq($md) {
    @include font(mid-lg, 34, 600);
    letter-spacing: 0.25px;
    text-transform: uppercase;
  }
}

.c-post__description {
  color: palette(text, 400);
  letter-spacing: 0.2px;
  @include font(small-lg, 22);
  padding-bottom: 9px;
  @include mq($md) {
    @include font(small-xl, 26);
    padding-bottom: 26px;
  }
}

.c-load-more {
  margin-top: 50px;
  text-align: center;

  @include mq($lg) {
    margin: 0;
    text-align: left;
  }
}
