.c-bg-logo {
  position: absolute;
  right: 0;
  top: -28px;
  width: 143px;
  height: 191px;
  overflow: hidden;

  @include mq($md) {
    width: 309px;
    height: 478px;
    top: -57px;
  }

  @include mq($lg) {
    width: 360px;
    top: -74px;
  }

  @include mq($xl) {
    width: 506px;
    height: 775px;
    top: -87px;
  }

  svg {
    width: auto;
    max-width: none;
    height: 100%;
  }
}

.c-bg-logo--home {
  right: 0;
  top: -26px;
  width: 143px;

  @include mq($md) {
    width: 506px;
    height: 775px;
    top: -87px;
    right: -52px;
  }

  @include mq($lg) {
    width: 506px;
    height: 775px;
    top: -87px;
    right: 0;
  }

}
