.c-arrow-top {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;

  @include mq($lg) {
    width: 60px;
    height: 60px;
    margin-left: -30px;
  }

  span {
    width: 28px;
    height: 28px;
    background-color: #fff;
    display: block;
    position: relative;
    top: -14px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transform-origin: center;
    @include mq($lg) {
      top: -21px;
      width: 42px;
      height: 42px;
    }
  }
}
