.c-list {
    padding-left: 22px;
    @include mq($md) {
        padding-left: 0;
    }
}

.c-list__item {
    position: relative;
    @include font(small, 16, 300);
    @include font-family(secondary);
    color: palette(primary, 300);

    margin: 13px 0;
    text-indent: 8px;
    @include mq($md) {
        margin: 0;
        text-indent: 10px;
    }

    &:before {
        content: '';
        position: absolute;
        top: 6px;
        left: 1px;
        width: 3px;
        height: 3px;
        background-color: palette(orange-color);
        border-radius: 100%;
    }
    @include mq($md) {
        @include font(mid-lg, 40, 300);
        letter-spacing: -0.13px;
        &:before {
            top: 18px;
            left: 0;
            width: 5px;
            height: 5px;
        }
    }
}
