.c-intro {

}

.c-intro__title {
  color: palette(primary, base);
  letter-spacing: 0.25px;
  @include font(mid-lg, 24, 600);
  @include mq($sm) {
    letter-spacing: 0.38px;
    @include font(large-sm, 34, 600);
  }
  @include mq($md) {
    @include font(large-lg, 34, 600);
  }
}

.c-intro__text {
  color: palette(text, 400);
  letter-spacing: 0.2px;
  @include font(small-lg, 22, 300);
  @include mq($sm) {
    letter-spacing: 0;
    @include font(mid, 26, 300);
  }
  @include mq($md) {
    @include font(mid-lg, 26, 300);
  }

  p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    &:last-child {
      margin-bottom: 0;
    }
  }
}


.c-intro__title + .c-intro__text {
  margin-top: 6px;
  @include mq($sm) {
    margin-top: 20px;
  }
}
