.c-quote {
    padding: 27px 0;
    @include font(small-xl, 30, 700);
    font-style: italic;
    @include font-family(secondary);
    letter-spacing: 0.5px;
    text-align: center;

    @include mq($md) {
        padding: 0;
        margin-left: auto;
        max-width: 490px;
        @include font(large-sm, 40, 700);
        letter-spacing: 0.7px;
        color: palette(primary, 300);
        text-align: left;
    }

    @include mq($lg) {
        @include font(large-xl, 60, 700);
    }
}