.c-partner {
  padding-bottom: 50px;
  &:last-child {
    padding-bottom: 0;
  }
  @include mq($md) {
    padding-bottom: 100px;
  }
}

.c-partner__logo {
  max-width: 170px;
  margin-bottom: 20px;
  @include mq($md) {
    margin-bottom: 0;
    max-width: 376px;
  }
}

.c-partner__description {}

.c-partner__description .c-wysiwyg {
  @include mq($md) {
    p {
      @include font(small-xl, 26, 300);
    }
  }
}

.c-partner__name {
  margin-bottom: 10px;
  color: palette(primary, 300);
  @include font(small-xl, 20, 500);
  @include mq($md) {
    letter-spacing: 0.25px;
    @include font(mid-lg, 34, 700);
  }
}
