.c-single-post {
  max-width: 616px;
}

.c-single-post__title {
  max-width: 544px;
  margin-bottom: 21px;
  @include mq($md) {
    margin-bottom: 41px;
  }
}

.c-single-post__thumbnail {
  padding: 28px 0;
  img {
    width: 100%;
  }
  @include mq($md) {
    padding: 0;
  }
}
.c-single-post .c-wysiwyg {
  @include mq($md) {
    p {
      @include font(small-xl, 26, 300);
    }
  }
}
