.c-wysiwyg {

  h1{
    text-transform: uppercase;
    @include font(mid-lg, normall);

    @include mq($lg) {
      @include font(xl-lg, normall, 500);
    }
  }

  h2{
    text-transform: uppercase;
    @include font(mid-lg, 24);

    @include mq($lg) {
      @include font(large-lg, 34, 700);
    }
  }

  h3{
    text-transform: uppercase;
    @include font(small-xl, 20);

    @include mq($lg) {
      @include font(mid-lg, 34, 700);
    }
  }

  h4{
    @include font(small-lg, 22);

    @include mq($lg) {
      @include font(mid-lg, 24);
    }
  }

  h5{
    @include font(small-lg, 22);

    @include mq($lg) {
      @include font(mid, 22, 400);
    }
  }

  h6{
    @include font(small, 32);
    text-transform: uppercase;

    @include mq($lg) {
      @include font(small-lg, 32, 300);
    }
  }


  p{
    color: palette(text, 400);
    letter-spacing: 0.2px;
    @include font(small-lg, 22);

    @include mq($lg) {
      @include font(small-xl, 26, 300);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

}

