.c-advantage__wrap {
  display: flex;
  flex-wrap: wrap;

  @include mq($md) {
    justify-content: space-around;
  }

  @include mq($lg) {
    justify-content: center;
  }
}

.c-advantage {
  padding: 15px 0;
  cursor: pointer;

  @include mq($md) {
    width: 45%;
  }

  @include mq($lg) {
    width: 27%;
    margin: 0 3%;
    padding: 15px 0 35px;
  }

  @include mq($xl) {
    width: 20%;
    margin: 0;
    padding: 15px 0;
  }
}

.c-advantage__body {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 10px;
  text-align: center;  

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(50% - 10px);
    height: 1px;
    background-color: palette(secondary, 400);
    transition: all 0.2s ease-in 0.1s;

    @include mq($xl) {
      opacity: 0;
      width: calc(50% + 18px);
      right: -28px;
      background-color: #979797;

      .c-advantage:hover & {
        opacity: 1;
      }
    }
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(50% - 10px);
    height: 1px;
    background-color: palette(secondary, 400);
    transition: all 0.2s ease-in 0.1s;

    @include mq($xl) {
      opacity: 0;
      width: calc(50% + 18px);
      left: -28px;
      background-color: #979797;

      .c-advantage:hover & {
        opacity: 1;
      }
    }
  }

  @include mq($xl) {
    .c-advantage:first-child &:before {
      width: calc(50% - 12px);
      left: 2px;
    }

    .c-advantage:first-child &:after {
      width: calc(50% + 50px);
      right: -60px;
    }

    .c-advantage:last-child &:before {
      width: calc(50% + 50px);
      left: -60px;
    }

    .c-advantage:last-child &:after {
      width: calc(50% - 12px);
      right: 2px;
    }
  }
}

.c-advantage__icon {
  margin-bottom: 15px;

  img {
    margin: auto;
    max-width: 84px;
  }
}

.c-advantage__title {
  @include font(mid, 18, 400);
  text-transform: uppercase;
  color: palette(secondary, 400);
  position: relative;
  z-index: 1;

  @include mq($lg) {
    padding-bottom: 22px;
  }

  @include mq($xl) {

    .c-advantage:hover & {  
      font-weight: 700;
      color: palette(primary, 300);
    }
  }

  &:after {
    content: '';
    width: 15px;
    height: 15px;
    background-color: transparent;
    border-bottom: 1px solid #a69f88;
    border-right: 1px solid #a69f88;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 22px) rotate(45deg);
    transition: all 0.2s ease-in 0.1s;

    @include mq($xl) {
      border-color: transparent;

      .c-advantage:hover & {
        border-color: #979797;
      }
    }
  }
}

.c-advantage__footer {
  @include mq($xl) {
    opacity: 0;
    width: calc(100% + 60px);
    transition: opacity 0.2s ease-in 0.1s;

    .c-advantage & {
      transform: translateX(-30px);
    }

    .c-advantage:first-child & {
      transform: translateX(0);
    }

    .c-advantage:last-child & {
      transform: translateX(-60px);
    }

    .c-advantage:hover & {
      opacity: 1;
    }
  }
}

.c-advantage__content {
  padding-top: 10px;
  @include font(small-lg, 22, 400);
  letter-spacing: 0.2px;
  color: palette(text, 400);

  @include mq($lg) {
    padding-top: 19px;
    @include font(small-xl, 26, 300);
    letter-spacing: -0.2px;
  }

  p {
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 0;
  }
}
