button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.c-button--primary {
  display: inline-block;
  padding: 5px 23px 5px;
  min-width: 140px;
  @include font(small-xl, 16, 500);
  text-transform: uppercase;
  color: palette(primary);
  border: 2px solid palette(orange-color);

  &:hover {
    color: #fff;
    background-color: palette(orange-color);
  }
}

.is-disabled{
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

.c-button--link {
  display: inline-block;
  position: relative;
  @include font(small, 14, 300);
  color: palette(secondary, 400);
  text-transform: uppercase;

  span {
    color: palette(orange-color);
  }

  &:hover {
    font-weight: 500;
  }
}

.c-back-btn {
  padding: 5px;
  text-align: center;
  background: #fff;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  z-index: 1000;
  right: 15px;
  bottom: 40px;
  .c-button--link {
    max-width: 45px;
  }
  span {
    display: block;
    transform: rotate(90deg);
  }
  @include mq($md) {
    right: 20px;
    bottom: 25px;
  }
}

.c-back-btn.show {
  visibility: visible;
  opacity: 1;
}
