.c-menu-primary {
  padding: 0 0 25px 0;
  margin-top: 53px;
  display: none;
  background-color: palette(primary);
  height: calc(100vh - 75px);
  overflow: auto;

  @include mq($xl) {
    margin: 0 -15px 0;
    padding: 5px 0;
    display: block;
    background-color: transparent;
    height: auto;
  }
  .c-primary-menu__list {
    display: flex;
    flex-direction: column;

    @include mq($xl) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .menu-item {
    position: relative;
    padding: 9px 5px 10px;
    @include font(xs, 12, 500);
    letter-spacing: 0.17px;
    color: palette(primary, 100);
    text-align: center;
    @include mq($md) {
      @include font(small-lg, 14, 900)
    }

    @include mq($xl) {
      padding: 10px 5px;
      color: #fff;
      @include font(small, 16, 500);
      letter-spacing: 0.08px;
      text-align: left;
    }

    &:hover {
      font-weight: 900;
    }

    &.current_page_item a {
      @include mq($xl) {
        font-weight: 900;
      }

      &:before {
        content: '';
        position: absolute;
        left: 3px;
        bottom: 2px;
        width: calc(100% - 6px);
        height: 1px;
        background-color: palette(orange-color);

        @include mq($xl) {
          left: 12px;
          width: calc(100% - 24px);
        }
      }
    }

    a {
      display: inline-block;
      position: relative;
      padding: 10px;
      font-size: inherit;
      line-height: inherit;
      color: inherit;
      text-transform: uppercase;

      &:after {
        display: block;
        content: attr(title);
        font-weight: 900;
        height: 1px;
        color: transparent;
        overflow: hidden;
        visibility: hidden;
      }
    }
  }
  
  .c-main-menu__divider {
    display: none;
    cursor: not-allowed;
    pointer-events: none;
    text-decoration: none;

    @include mq($xl) {
      display: block;
    }
  }
}

.c-menu-primary__btn {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: auto;

  span {
    position: absolute;
    left: 0;
    background-color: palette(primary, 300);
    width: 20px;
    height: 2px;
    transition: all 0.3s ease-in;

    &:nth-child(1) {
      top: 0;
      transform-origin: left top;
    }
    &:nth-child(2) {
      top: 9px;
    }
    &:nth-child(3) {
      top: 18px;
      transform-origin: left bottom;
    }
  }

  &.open {
    span {
      width: 26px;

      &:nth-child(1) {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }
}
