.c-footer__top {
  padding: 30px 0 13px;
  background-color: palette(primary);

  @include mq($md) {
    padding: 42px 0;
  }
}

.c-footer__logo {
  position: relative;
  padding-bottom: 28px;

  @include mq($md) {
    padding-bottom: 0;
  }

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    right: 25px;
    width: calc(100% - 50px);
    height: 1px;
    background-color: palette(primary, 300);

    @include mq($md) {
      top: -4px;
      right: -15px;
      width: 1px;
      height: calc(100% + 8px);
    }
  }

  img {
    width: 100%;
    max-width: 100px;
    margin: auto;

    @include mq($md) {
      margin: 0;
    }

    @include mq($lg) {
      max-width: 151px;
    }
  }
}


.c-footer__bottom {
  padding: 26px 0 21px;
  text-align: center;
  color: palette(primary);
  background-color: palette(primary, 300);

  @include mq($md) {
    padding: 14px 0;
  }
}

.c-footer__copyright {
  @include font(xss, 10, 500);
  letter-spacing: 0.11px;
  text-transform: uppercase;

  @include mq($md) {
    padding: 0 37px;
    @include font(small-sm, 21, 500);
    letter-spacing: 0.16px;
  }

  p {
    margin-bottom: 0;
    font-size: inherit;
    line-height: inherit;
    position: relative;

    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
    }
  }
}
