.c-address {
  padding: 29px 0 22px 39px;
  background-color: palette(primary, 300);
  @include mq($md) {
    clip-path: polygon(36% 0, 100% 0, 100% 100%, 0% 100%);
    position: absolute;
    padding: 0 21px 131px 0;
    right: 0;
    bottom: 0;
    min-width: 434px;
    min-height: 450px;
    background-color: palette(primary, 200);
  }
  @include mq($lg) {
    padding: 0 38px 131px 0;
    min-width: 525px;
    min-height: 550px;
  }
  @include mq($xl) {
    padding: 0 96px 131px 0;
    min-width: 641px;
  }
}

.c-address__name {
  text-transform: uppercase;
  @include font(small-lg, 22, 700);
  @include mq($md) {
    @include font(mid, 32, 700);
  }
  @include mq($md) {
    @include font(mid-md, 24, 700);
  }
  @include mq($xl) {
    @include font(mid-lg, 24, 700);
  }
}
.c-address__text {
  @include font(small-lg, 22, 700);
  a {
    color: palette(text, 100);
  }
  @include mq($md) {
    @include font(mid, 32, 700);
  }
  @include mq($lg) {
    @include font(mid-md, 32, 700);
  }
  @include mq($xl) {
    @include font(mid-lg, 32, 700);
  }
}
