.c-team {
  padding-bottom: 50px;
  // change margin to padding
  @include mq($sm) {
    padding: 0 17px;
    padding-bottom: 40px;
  }
  @include mq($md) {
    padding-bottom: 95px;
  }
  @include mq($lg) {
  }
}

.c-team:hover {
  @include mq($lg) {
    opacity: 1;
  }
}

.c-team__img {
  margin: 0 -15px;
  @include mq($sm) {
    margin: 0;
  }
  img {
    width: 100%;
    @include mq($lg) {
      width: auto;
    }
  }
}

.c-team__title {
  color: palette(primary, 300);
  letter-spacing: 0;
  margin-bottom: 5px;
  @include font(small-xl, 20, 500);
  @include mq($sm) {
    margin-bottom: 0;
    letter-spacing: 0.25px;
    @include font(mid, 20, 500)
  }
  @include mq($md) {
    @include font(mid-lg, 34, 700);
  }
}

.c-team__info {
  margin-top: 15px;
  @include mq($sm) {
    padding: 0;
  }
}

.c-team__subtitle {
  color: palette(primary, base);
  letter-spacing: 0.09px;
  @include font(small, 32, 300);
  @include mq($md) {
    letter-spacing: 0.1px;
    @include font(small-lg, 32, 300);
  }
}
