.c-single-team {}

.c-single-team__card {}

.c-single-team__img {
  margin: 9px -15px 0 -15px;
  img {
    width: 100%;
  }
  @include mq($sm) {
    margin: 9px 0 0;
  }
  @include mq($md) {
    margin: 0;
    margin-right: -15px;
  }
}

.c-single-team__contact {
  margin-top: 10px;
  @include font-family(secondary);
  @include mq($md) {
    margin-top: 23px;
  }
}

.c-single-team__name {
  margin-bottom: 5px;
  @include font(small-xl, 22, 500);
  @include mq($sm) {
    @include font(mid, 26, 500)
  }
  @include mq($md) {
    @include font(mid-lg, 32, 700);
  }
}
.c-single-team__item {
  @include font(small-lg, 22, 500);
  a {
    @include font(small-lg, 22, 300);
    &:hover {
      opacity: .7;
    }
  }
  @include mq($sm) {
    @include font(small-xl, 22, 500);
    a {
      @include font(small-xl, 22, 500);
    }
  }
  @include mq($md) {
    @include font(mid, 22, 500);
    a {
      @include font(mid, 22, 500);
    }
  }
}

.c-single-team__linked-in {
  max-width: 26px;
  margin: 5px 12px 0 0;
  @include mq($md) {
    max-width: 40px;
    margin: 10px 25px 0 0;
    img {
      min-width: 47px;
    }
  }
}

.c-single-team__info {}

.c-single-team__bio {
  margin-top: 26px;
  @include mq($sm) {

  }
  @include mq($md) {
    margin-top: 0;
    padding-left: 47px;
  }
}

.c-single-team__title {
  @include font(small-xl , 20, 500);
  letter-spacing: 0;
  @include mq($sm) {
    @include font(mid-lg, 30, 700);
    letter-spacing: 0.38px;
  }
  @include mq($md) {
    @include font(large-lg, 34, 700);
  }
}

.c-single-team__subtitle {
  letter-spacing: 0.9px;
  @include font-family(secondary);
  @include font(small, 32, 300);
  @include mq($sm) {
    @include font(small-xl, 32, 500);
  }
  @include mq($md) {
    margin-top: 15px;
    letter-spacing: 0;
    @include font(mid-lg, 24, 700);
  }
}

.c-single-team__description {
  margin-top: 32px;
}


