.c-home-slide {
  padding-bottom: 26px;

  @include mq($md) {
    padding-bottom: 87px;
  }
}

@keyframes homeHero {
  from {opacity: 0;}
  to {opacity: 1;}
}

.for-anim {
  .c-home-slide__main:before,
  .c-home-slide__sub:before {
    transform: skewX(-30deg) translateX(-1000px);
    opacity: 0;
  }

  .c-home-slide__main-top,
  .c-home-slide__main-body,
  .c-home-slide__sub,
  .c-home-slide__sub-text {
    opacity: 0;
  }
}

.c-home-slide__content-wrap {
  position: relative;
  padding-top: 232px;  
  //clip-path: polygon(0 0,100% 0,100% calc(100% - 55px),calc(100% - 33px) 100%,0 100%);

  @include mq($md) {
    padding-top: 328px;
  }

  @include mq($md) {
    //clip-path: polygon(0 0,100% 0,100% calc(100% - 219px),calc(100% - 127px) 100%,0 100%);
  }
}

.c-home-slide__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 80% center;
  background-repeat: no-repeat;
  background-size: cover;

  .anim & {
    animation-name: homeHero;
    animation-duration: 0.6s;
  }
}

.c-home-slide__main {
  position: relative;
  padding: 14px 0 30px;

  @include mq(425) {
    max-width: 300px;
  }

  @include mq($md) {
    max-width: none;
    padding: 71px 0 86px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    width: 200vw;
    height: 100%;
    background-color: palette(primary, 400);
    transform: skewX(-30deg) translateX(37px);
    transition: all 1s linear;


    @include mq(425) {
      right: -13px;
    }
  }

  div {
    position: relative;
    z-index: 1;
  }
}

.c-home-slide__main-top {
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s linear 1s;
  @include mq($md) {
    padding-left: 8px;
  }
  @include mq($xl) {
    padding-left: 0;
  }
}

.c-home-slide__title {
  margin-bottom: 2px;
  @include font(mid-lg, 22, 700);

  @include mq($md) {
    margin-bottom: 11px;
    @include font(large-lg, 34, 700);
  }
}

.c-home-slide__sub-title {
  margin-bottom: 0;
  @include font(xs, 12, 500);
  @include font-family(secondary);
  letter-spacing: 0.29px;

  @include mq($md) {
    margin-bottom: 9px;
    @include font(small-xlg, 18, 500);
    letter-spacing: 0.44px;
  }
}

.c-home-slide__main-body {
  position: relative;
  width: 260px;
  height: 120px;
  padding-left: 23px;
  display: flex;
  align-items: center;
  transition: all 0.3s linear 1s;

  @include mq($md) {
    width: auto;
    height: 245px;
    padding-left: 45px;
  }
  @include mq($xl) {
    padding-left: 23px;
  }

  @include mq(1350) {
    padding-left: 0;
  }
}

.c-home-slide__text {
  max-width: 245px;
  @include font(small, 18, 500);
  @include font-family(secondary);
  color: palette(primary, 300);

  .anim & {
    animation-name: homeHero;
    animation-duration: 0.6s;
  }

  @include mq($md) {
    max-width: 430px;
    @include font(large, 40, 500);
  }

  p {
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 0;
  }
}

.c-home-slide__sub {
  padding: 6px 0 8px 23px;
  position: absolute;
  transform: translateY(-30px);
  width: 145px;
  z-index: 2;  

  @include mq($md) {
    width: 242px;
    padding: 27px 0 27px 23px;
    transform: translateY(-64px);

    @include mq(1350) {
      padding: 18px 0 19px;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-color: palette(secondary, 400);
    transform: skewX(-30deg) translateX(17px);
    transition: all 1s linear 0.2s;

    @include mq($md) {
      transform: skewX(-30deg) translateX(34px);
    }
  }
}

.c-home-slide__sub-text {
  position: relative;
  z-index: 1;
  @include font(xs, 14.5, 400);
  letter-spacing: -0.1px;
  transition: all 0.3s linear 1.2s;

  @include mq($md) {
    @include font(mid, 32, 400);
    letter-spacing: -0.18px;
  }
}

.c-home-slide__sub-link {
  color: #fff;
  font-weight: 700;
}

.c-home-slide__sub-icon {
  display: inline-block;
  width: 11px;
  height: 10px;
  margin-left: 3px;
}
