.c-footer-menu__list { 
  display: flex;

  .menu-item {
    position: relative;
    @include font(xss, 8, 500);
    letter-spacing: 0.11px;
    text-transform: uppercase;
    color: #fff;

    a:after {
      display: block;
      content: attr(title);
      font-weight: 900;
      height: 1px;
      color: transparent;
      overflow: hidden;
      visibility: hidden;
    }

    &:hover {
      font-weight: 900;
    }

    @include mq($md) {
      @include font(small-sm, 16, 500);
      letter-spacing: 0.16px;
    }

    .menu-footer-bottom-container & {
      padding: 0 18px;
      position: relative;

      @include mq($md) {
        padding: 0 37px;
      }

      &:not(:last-child):after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
        height: 8px;
        background-color: palette(primary);

        @include mq($md) {
          display: none;
        }
      }
    }
  }

  .menu-footer-bottom-container & {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17px;

    @include mq($md) {
      margin-top: 0;
    }
  }
  
  .menu-item {
    text-align: center;

    @include mq($md) {
      display: inline-block;
      text-align-last: left;
    }

    .c-footer__top & {    
      margin: 13px 0;

      @include mq($md) {
        width: 33%;
        margin: 7px 0;
      }

      @include mq($lg) {
        width: 25%;
      }
    }

    a {
      @include font(xs, 12, 500);
      letter-spacing: 0.08px;
      text-transform: uppercase;
      display: inline-block;          
      color: palette(primary, 100);

      @include mq($md) {
        @include font(small-sm, 16, 500);
        letter-spacing: 0.16px;
        color: #fff;
      }

      &:hover {
        font-weight: 900;
      }

      .c-footer__bottom & {
        color: palette(primary);
      }
    }
  }
}

.c-footer__top {
  .c-footer-menu__list {
    flex-direction: column;
    padding-top: 20px;
  
    @include mq($md) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    
    @include mq($md) {
      max-width: 750px;
      margin-left: auto;
    }
  }
}

.c-footer__menu--bottom {
  .c-footer-menu__list {
    flex-direction: row;
    line-height: 1;

    @include mq($md) {
      position: relative;
      top: 2px;
    }
  }
    
  .menu-item {
    a {
      position: relative;
      @include font(xss, 8, 500);
      letter-spacing: 0.11px;
      text-transform: uppercase;
      color: #fff;

      @include mq($md) {
        @include font(small-sm, 16, 500);
        letter-spacing: 0.16px;
      }
    }
  }
}
